<main>
    <div class="scroll-container">
        <h1>Please enter PersonalLoan Amount in Rupees</h1>
        <input type="range" min="0" max="10000000" step="100000" [(ngModel)]="loanAmount" (input)="updateLoanAmount($event)"/>
        <span>Rs {{ loanAmount }}</span> 
        <br/>
        <input type="number" [(ngModel)]="loanAmount" (input)="updateLoanAmount($event)" />
        <br/>
        <h1>Please enter tenure</h1>
        <input type="range" min="3" max="10" step="1" [(ngModel)]="tenure" (input)="updateTenure($event)"/>
        <span>{{ tenure }} years</span>
        <br/>
        <input type="number" [(ngModel)]="tenure" (input)="updateTenure($event)" />
        <br/>
        <h1>Please enter Interest Rate</h1>
        <input type="range" min="0" max="20" step="0.1" [(ngModel)]="interestRate" (input)="updateInterestRate($event)"/>
        <span>{{ interestRate }}%</span>
        <br/>
        <input type="number" [(ngModel)]="interestRate" (input)="updateInterestRate($event)" />
        <br/>
        <br/>
        <button (click)="calculateEmi()">Calculate EMI</button>
    </div>
    <div>
        <h2>EMI of your personal loan would be: {{ emi }} </h2>
        </div>
</main>
